In [4]:
import math

import numpy as np
import pandas as pd

df = pd.read_csv('./data/WEP_01Nov2023_to_07Nov2023.csv')

In [30]:
df_grouped = df.groupby(['PERIOD', 'sign'])['price_diff'].agg(['mean', 'count']).reset_index()
df_price = df.groupby(['PERIOD'])['USEP ($/MWh)'].agg(['mean']).reset_index()

In [31]:
df_grouped

     PERIOD  sign      mean  count
0       1.0  -1.0 -0.471042      3
1       1.0   0.0  0.065800      2
2       1.0   1.0  0.582626      2
3       2.0  -1.0 -0.536249      1
4       2.0   0.0 -0.026976      2
..      ...   ...       ...    ...
122    47.0   0.0  0.026288      1
123    47.0   1.0  0.537753      3
124    48.0  -1.0 -0.509889      4
125    48.0   0.0 -0.037386      1
126    48.0   1.0  0.530482      2

[127 rows x 4 columns]

In [32]:
df_price

    PERIOD        mean
0      1.0  220.774286
1      2.0  200.548571
2      3.0  155.401429
3      4.0  155.448571
4      5.0  153.995714
5      6.0  149.391429
6      7.0  143.641429
7      8.0  142.055714
8      9.0  139.288571
9     10.0  138.500000
10    11.0  140.107143
11    12.0  150.091429
12    13.0  193.312857
13    14.0  175.815714
14    15.0  161.715714
15    16.0  177.318571
16    17.0  173.704286
17    18.0  190.237143
18    19.0  162.824286
19    20.0  164.158571
20    21.0  171.940000
21    22.0  183.941429
22    23.0  174.244286
23    24.0  152.237143
24    25.0  172.481429
25    26.0  210.752857
26    27.0  277.848571
27    28.0  358.857143
28    29.0  711.004286
29    30.0  687.477143
30    31.0  291.042857
31    32.0  294.624286
32    33.0  783.072857
33    34.0  860.474286
34    35.0  839.352857
35    36.0  331.580000
36    37.0  307.570000
37    38.0  282.338571
38    39.0  284.087143
39    40.0  282.075714
40    41.0  274.494286
41    42.0  294.574286
42    43.0  277.588571
43    44.0  209.292857
44    45.0  821.525714
45    46.0  180.040000
46    47.0  175.230000
47    48.0  183.855714

In [33]:
df_grouped['total_count'] = df_grouped.groupby(['PERIOD'])['count'].transform('sum')
df_grouped['probability'] = df_grouped['count'] / df_grouped['total_count']
df_grouped['diff_mean'] = df_grouped['mean']/100

df_grouped = df_grouped[['PERIOD', 'sign', 'diff_mean', 'probability']]

In [34]:
index_col = ['PERIOD']
df_final = df_grouped.set_index(index_col).join(df_price.set_index(index_col)).reset_index()

In [35]:
df_final

     PERIOD  sign  diff_mean  probability        mean
0       1.0  -1.0  -0.004710     0.428571  220.774286
1       1.0   0.0   0.000658     0.285714  220.774286
2       1.0   1.0   0.005826     0.285714  220.774286
3       2.0  -1.0  -0.005362     0.142857  200.548571
4       2.0   0.0  -0.000270     0.285714  200.548571
..      ...   ...        ...          ...         ...
122    47.0   0.0   0.000263     0.142857  175.230000
123    47.0   1.0   0.005378     0.428571  175.230000
124    48.0  -1.0  -0.005099     0.571429  183.855714
125    48.0   0.0  -0.000374     0.142857  183.855714
126    48.0   1.0   0.005305     0.285714  183.855714

[127 rows x 5 columns]

In [36]:
df_final.to_csv('./data/price_pr.csv')